[Unit]
Description=Nextride2
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/flutter-pi /opt/nextride/flutter_assets
# Ein Wanddisplay soll nach einem Absturz von allein wiederkommen.
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
